body {
    text-align: center;
}

#contentBox {
    display: flex;
    margin: 10px;
    gap: 100px;
}

#controlBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    border: 3px solid black;
    padding: 32px;
}

#colorBox {
  display: flex;
  gap: 10px;
}

#grid {
    height:  500px;
    width: 500px;
    display: grid;
    border: 3px solid black;
    border-radius: 5px;
    box-shadow: black;
}

#sliderBox {
    width: 100%; /* Width of the outside container */
  }

  /* The slider itself */
  #sizeSlider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 75%; /* Full-width */
    height: 15px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-radius: 25px;
  }

  /* Mouse-over effects */
  #sizeSlider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }

  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  #sizeSlider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 25px;
  }

  #sizeSlider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }



/* Drawing Color Selectors */
.color {
    background-color: black;
}

.grayscale {
    background-color: red;
}

.rainbow {
    background-color: blue;
}

.erase {
    background-color: white;
}